<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new post</title>

    <meta th:replace="fragments/static.html :: bootstrap">

</head>
<body>

<div th:replace="fragments/nav.html :: navbar"></div>

<div class="container">
    <p class="h4 mb-4">Create a new post</p>

<form action="#" th:action="@{/posts/save}" th:object="${post}" method="POST">

    <input type="hidden" th:field="*{id}" />

    <input class="form-control mb-4 col-4" type="text" th:field="*{title}" placeholder="Title" />

    <textarea class="form-control mb-4 col-4" th:field="*{content}" placeholder="content" />

    <button class="btn btn-info col-2" type="submit">Submit</button>


</form>
</div>



</body>
</html>